<div class="card card-outline card-success">
    <div class="card-header">
        <h5 class="card-title">Active Packages</h5>
    </div>

    <div class="card-body">
        <table id="activePackagesTable"
               class="table table-striped table-bordered table-sm"
               style="width:100%">
            <thead>
                <tr>
                    <th>Package</th>
                    <th>Price</th>
                </tr>
            </thead>
        </table>
    </div>
</div>
