<div class="card card-outline card-success">
    <div class="card-header">
        <h5 class="card-title">Latest Bookings</h5>
    </div>

<section class="content">
    <div class="container-fluid py-4">

        <table id="manualBookingTable"
               class="table table-striped table-bordered"
               style="width:100%">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Guest Details</th>
                    <th>Travel Details</th>
                    <th>Payment</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>

    </div>
</section>
</div>
