<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Reset Password</title>
    <link rel="icon" type="image/png" href="{{ url_for('static', path='assets/dist/img/favicon.ico') }}" sizes="16x16">
</head>

<body style="font-family: Arial, sans-serif; background: #f4f6f8; padding: 30px;">

    <div style="max-width: 520px; margin: auto; background: #ffffff; border-radius: 8px; overflow: hidden;">

        <div style="padding: 20px; color: white;
        background: linear-gradient(174.78deg, #159957 -39.25%, #155799 179.4%);">
            <h2>Reset Your Password</h2>
        </div>

        <div style="padding: 25px;">
            <p>Hello,</p>

            <p>You requested to reset your password.</p>

            <p style="text-align: center; margin: 30px 0;">
                <a href="{{ reset_url }}" style="background:#155799;color:white;
               padding:12px 22px;border-radius:6px;
               text-decoration:none;font-weight:bold;">
                    Reset Password
                </a>
            </p>

            <p>This link will expire in <strong>15 minutes</strong>.</p>

            <p>If you didn’t request this, please ignore this email.</p>

            <p style="margin-top:30px;">
                Regards,<br>
                <strong>Your App Team</strong>
            </p>
        </div>

    </div>
</body>

</html>